In [1]:
import pandas as pd

In [ ]:
from csv import reader

# Read the `artworks_clean.csv` file
opened_file = open('artworks_clean.csv')
read_file = reader(opened_file)
moma = list(read_file)
moma = moma[1:]

# Convert the birthdate values
for row in moma:
    birth_date = row[3]
    if birth_date != "":
        birth_date = int(birth_date)
    row[3] = birth_date
    
# Convert the death date values
for row in moma:
    death_date = row[4]
    if death_date != "":
        death_date = int(death_date)
    row[4] = death_date

# Write your code below
for row in moma:
    date=row[6]
    if date != "":
        date=int(date)
    row[6]=date

#### Create an empty list, ages, to store the artist age data.
Use a loop to iterate over the rows in moma.
In each iteration, assign the artwork year (at index 6) to date and artist birth year (at index 3) to birth.
If the birth date is an int, calculate the age of the artist at the time of creating the artwork, and assign it to the variable age.
If birth isn't an int type, assign 0 to the variable age.
Append age to the ages list.
Create an empty list final_ages, to store the final age data.
Use a loop to iterate over each age in ages. In each iteration, do the following:
If the age is greater than 20, assign the age to the variable final_age.
If the age is not greater than 20, assign "Unknown" to the variable final_age.
Append final_age to the final_ages list.

In [ ]:
ages=[]
for row in moma:
    date=row[6]
    birth=row[3]
    if birth != "":
        age=date-birth
    else:
        age=0
    ages.append(age)
final_ages=[]
for row in ages:
    if row >20:
        final_age=row
    else:
        final_age="Unknown"
    final_ages.append(final_age)
#end

Create an empty list, decades, to store the artist decade data.
Iterate over the values in final_ages, and in each iteration, do the following:
If age is "Unknown", assign it to the variable decade
If age isn't "Unknown", do the following:
Convert the integer value to a string and assign it to the variable decade.
Use list slicing to remove the final character of decade.
Use the + operator to add the substring "0s" to the end of the string decade.
Append decade to the decades list.

In [ ]:
# The final_ages variable is available
# from the previous screen
decades=[]
for row in final_ages:
    if row=="Unknown":
        decade="Unknown"
    else:
        decade=str(row)
        decade=decade[-1]
        decade=decade+"0s"
    decades.append(decade)

##### constructing a frequency table

In [ ]:
# The decades variable is available
# from the previous screen
decade_frequency={}
for row in decades:
    if row in decade_frequency:
        decade_frequency[row]+=1
    else:
        decade_frequency[row]=1

### Inserting Variables into Strings

In [2]:
artist = "Pablo Picasso"
birth_year = 1881
template="{art}'s birth year is {birth}"
output=template.format(art=artist, birth=birth_year)
print(output)

Pablo Picasso's birth year is 1881

Create an empty dictionary, artist_freq.
Iterate through each item in the moma list of lists. In each iteration, do the following:
Assign the artist's name (column index 1) to the variable artist.
If artist is not a key in artist_freq, add it as a key with a value of 1.
If artist is a key in artist_freq, add one to the existing value for that key.

In [ ]:
artist_freq={}
for value in moma:
    artist=value[1]
    if artist not in artist_freq:
        artist_freq[artist]=1
    else:
        artist_freq[artist]+=1

#### Creating an Artist Summary Function

In [ ]:
def artist_summary(artist_name):
    # Assuming artist_freq is a dictionary containing the number of works for each artist
       # Retrieve the number of works of art for the given artist
    works_count = artist_freq.get(artist_name, 0)

    # Create a template string with placeholders for the artist's name and number of works
    template = "The artist {} has created {} works of art."

    # Use str.format() to insert the artist's name and number of works into the string template
    summary = template.format(artist_name, works_count)

    # Display the final string
    print(summary)

# Example: Display a summary for the artist "Henri Matisse"
artist_summary("Henri Matisse")

In [ ]:
def artist_summary(artist):
    num_artworks = artist_freq[artist]
    template = "There are {num} artworks by {name} in the dataset"
    output = template.format(name=artist, num=num_artworks)
    print(output)

artist_summary("Henri Matisse")

#### Formatting Numbers Inside Strings

In [4]:
pop_millions = [
    ["China", 1379.302771],
    ["India", 1281.935991],
    ["USA",  326.625791],
    ["Indonesia",  260.580739],
    ["Brazil",  207.353391],
]

template = "The population of {} is {:,.2f} million"

for country in pop_millions:
    name = country[0]
    pop = country[1]
    output = template.format(name, pop)
    print(output)

The population of China is 1,379.30 million
The population of India is 1,281.94 million
The population of USA is 326.63 million
The population of Indonesia is 260.58 million
The population of Brazil is 207.35 million

#### Summarizing Artwork Gender Data

In [ ]:
gender_freq={}
for row in moma:
    gender=row[5]
    if gender in gender_freq:
        gender_freq[gender]+=1
    else:
        gender_freq[gender]=1
for g, f in gender_freq.items():
    output= "There are {:,} artworks by {} artists".format(f, g)
    print(output)